<%unless @pokemons.empty? %>
	<div class= "CSSTableGenerator">
	<table style="none" >
		<tr>
			<td>Species</td>
			<td>Name</td>
			<td>Gen</td>
			<td>Move One</td>
			<td>Move Two</td>
			<td>Move Three</td>
			<td>Move Four</td>
			<td>Preffered trade</td>
			<td>Offer Ends</td>
		</tr>
     <% @pokemons.each do |row| %>
     <tr>
	 	<%if row.name%>
	 		<td><%= row.name%></td>
	 		<td><%= row.nickname%></td>
	 		<td><%= row.gen%></td>
	 		<td><%= row.moveone%></td>
	 		<td><%= row.movetwo%></td>
	 		<td><%= row.movethree%></td>
	 		<td><%= row.movefour%></td>
	 		<td><%= row.preftrade%></td>
	 		<td><%= row.offends%></td>

	 	<%end%>
	 </tr>
<% end %>
	</table>
</div>

<%else %>
<p>Your search found 0 entries</p>
<%end%>

<p><% puts @pokemons.to_s%><p>

<br>
<br>
<%= link_to "Back", controller: "home", action: "index"%>



